<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    {{ content }}
    <script>
        $(function () {
            $("code").each(function () {
                var codeName = $(this).attr("class") ? $(this).attr("class").split(":")[1] : null;
                if (codeName) {
                    $(this).parent().addClass("source-code");
                    $("<div class='code-name'>" + codeName + "</div>").insertBefore($(this));
                }
            });
        });
    </script>
</body>
</html>
